doctype html
html
  block head
    script(src='//localhost:35729/livereload.js')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
      h1 Awesome Chat
    block content
    footer content &copy; 2015 Awesome Chat App
